.container {
    position: relative;
    width: 100%;
    aspect-ratio: 160 / 220;
    min-width: 200px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;

  background: url('/cart-template.webp') center / cover no-repeat;
  border-radius: 16px;
  overflow: hidden;
  color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.35);
    z-index: 2;
}

.art {
  position: absolute;
  top: 3%;
  left: 20%;
  width: 62%;
  height: 50%;
  object-fit: cover;
  border-radius: 10px;
    z-index: 1;
}

.name {
  position: absolute;
  left: 15%;
  right: 15%;
  top: 49%;
  font-weight: 700;
    font-size: 1.2rem;
  text-align: center;
    -webkit-text-stroke: 0.2px #000;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.65);
}

.cost {
  position: absolute;
  top: 1%;
  left: 12%;
  font-size: 2rem;
  font-weight: 700;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.65);
}

.text {
  position: absolute;
  left: 12%;
  right: 12%;
  top: 66%;
  line-height: 1.2;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

.attack,
.health {
  position: absolute;
  bottom: 5%;
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.65);
}

.attack {
  left: 11%;
}

.health {
  right: 6%;
}
